* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --c-main-bg: palevioletred;
    --c-el-detail: hotpink;
    --c-el-bg: pink;
    --c-details: white;
    /* sizes */
    --height-input: 6vh;
    /* borders */
    --border-thin: 1px solid;
    --border-test: 2px solid pink;

    /* mini prof pic  */
    --h-main-header: 15vh;
    --sz-profile-pic-mini: calc(var(--h-main-header)*0.5);
}

body {
    background-color: var(--c-main-bg);
}

a, button {
    cursor: pointer;
}

main {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

main.main {
    width: 90vw;
}


/* ============ GENERAL LAYOUT CLASSES ======================*/
.flex-column {
    display: flex;
    flex-direction: column;

}

/* ////// Forms ////// */

form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

form button {
    padding: 5%;
    background-color: var(--c-el-bg);
    border: 1px solid var(--c-el-detail);
    color: var(--c-el-detail);
    text-transform: uppercase;
    font-weight: bold;
}

input {
    border: none;
    padding: 5%;
    height: var(--height-input);
    border-radius: calc(var(--height-input)*0.5);
}


.modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    padding: 3vh;
    background-color: var(--c-el-bg);
}

.app .profile-pic {
    height: 25vh;
    object-fit: cover;
    position: relative;
}

.profile-pic img {
    max-height: 100%;
}

/* ////////// Header ////////////// */

header.main {
    width: 100vw;
    height: var(--h-main-header);
    /* height: 15vh; */
    padding: 3vh 10vw;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-thin) var(--c-details);
}

header .profile-pic {
    height: var(--sz-profile-pic-mini);
    width: var(--sz-profile-pic-mini);
    /* height: 90%; */
    /* width: 10vh; */
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
    border: var(--border-test);
}

nav.main {
    background-color: var(--c-el-bg);
    display: flex;
    flex-direction: column;
    gap: 2vh 0;
    position: absolute;
    top: var(--h-main-header);
    right: 5vw;
    padding: 2rem;
}


/* ///////// Friendships ///////// */
.friendships-group {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5vw;
    padding: 3vh 0;
    margin-bottom: 7vh;
}


/* ================== CHAT =======================*/
.chat {
    background-color: var(--c-el-bg);
    padding: 3vh;
    position: fixed;
    bottom: 0;
    right: 5vw;
    min-height: 40vh;
    width: 40vw;
}

.chat.flex-column {
    justify-content: flex-end;
    gap: 1vh;
}

.messages-log {
    gap: 1vh;
}
.one-msg {
    background-color: var(--c-details);
}